# Binaries
**/bin/
!NotRed/vendor/assimp/bin
!NotRed/vendor/mono/bin
bin-int/
Intermediates/
obj/
**/cache/**
NotEditor/Assets/Cache/Shader/
NotEditor/Logs/
NotEditor/Assets/Cache/
NotEditor/Assets/Scripts/

# NotRed files
*.log
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj

**.meta
**.pxd2
**.pvd

!AssetRegistryCache.nrr
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Directories
NotRed/vendor/VulkanSDK
NotEditor/assets/cache
scripts/__pycache__
scripts/__pycache__