# Binaries
**/bin/
!NotRed/vendor/assimp/bin
!NotRed/vendor/mono/bin
bin-int/
Intermediates/
NotEditor/Resources/Scripts/
Binaries
obj/
**/cache/**
NotEditor/Resources/Scripts/Not-ScriptCore.dll
NotEditor/Resources/Scripts/Not-ScriptCore.pdb

# NotRed files
*.log
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

**.meta
**.log

!AssetRegistryCache.nrr
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Directories
NotRed/vendor/VulkanSDK